crds:
  enabled: false

grafana:
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - grafana.rcomanne.nl

prometheusOperator:
  networkPolicy:
    enabled: true

prometheus:
  networkPolicy:
    enabled: true