apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  entryPoints:
    - postgres
  routes:
    - match: HostSNI(`*`) && ClientIP(`10.0.0.0/8`, `192.168.2.0/24`)
      services:
        - name: ${name}-rw
          port: 5432