apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  postgresGID: 1000
  instances: 1
  primaryUpdateStrategy: unsupervised
  enableSuperuserAccess: false
  bootstrap:
    initdb:
      database: nextcloud
      owner: nextcloud
      secret:
        name: ${dbSecretName}
  storage:
    size: 16Gi
    storageClass: ${storageClass}
