global:
  psp:
    enabled: true

injector:
  enabled: false

server:
  logLevel: info
  logFormat: json

  uid: 1000

  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: ${vault_host}
        paths:
          - /

  dataStorage:
    enabled: true
    size: 8Gi
    storageClass: nfs-csi

  standalone:
    enabled: true

ui:
  enabled: true
  activePodOnly: true

csi:
  enabled: false